h1 {
  text-align: center;
}


#form {
text-align: center;
font-size: 20px;


}

.hidden {
  visibility: hidden;
}


div {
  border: thin black;
}

.font1 {
  font-family: Arial, Helvetica, sans-serif;
}
.font2{
  font-family: monospace;
}
.font3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#memoryField {

height: auto;
width: auto;
display: grid;
    grid-template-columns: repeat(5, 0.1fr);
    grid-gap: 0.5em;
    justify-content: center;
    text-align: center;
    border: thin black;
}
