
:root {
    --background: white;
    --fontFamily: Geneva;
  }

#form {
text-align: center;

border: rgb(180, 180, 180) solid;
font-size: 20px;
}

html{
    background-color: var(--background);
    color: var(--fontColor);
    font-family: var(--fontFamily);
    font-family: monospace
  }
