html {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #3f5d75;

}
span {
position: fixed;
border: thin solid grey;
border-radius: 15px;
height: 150px;
width: 230px;
font-size: 25px;
text-align: center;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
background-color: #98b3ae44;


}

#div0 {
display: inline-block;
width: 500px;
height: 500px;
border: thin solid grey;
background: #667f945b;
}

#div1 {
display: inline-block;
width: 500px;
height: 500px;
border: thin solid grey;
background: #667f945b;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.4em;
    font-weight: lighter;
    width: auto;
    height: auto;
    color: #4a6983;
}