html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rosybrown;
    text-align: center;
 
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3em;
}
#h2{
    font-size: 30px;
    letter-spacing: 0em;
}

#leftover {
    letter-spacing: 0em;
    text-align: center;
}

#nextDay {
    width: auto;
    height: auto;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 20px;
    border: solid thistle 2px;
    border-radius: 25%;
}